<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/Login-SignUp-Page/homepage.css">
<meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>

<div class="topnav">
  <a class="active" href="../assignments.html">Assignments</a>
  <a href="/courses.html">Courses</a>
  <a href="/Login-SignUp-Page/HomePage.html">Home</a>
</div>

<div style="padding-left:16px;">
  <h1>Courses</h1>
  <div class="main">

{% block content %}
  {% for course in courses %}
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="profileicon2.jpg"></div>
          <div class="card_content">
            <h2 class="card_title"> {{course.name}} </h2>
            <p class="card_text"> {{course.descriptionHeading}} </p>
            <button class="btn card_btn>Open</button> 
          </div>
        </div>
      </li>
  {% endfor %}
{% endblock content %}


</body>
</html>


